<ion-header>
    <ion-navbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="favorites">
                Favorites
            </ion-segment-button>
        </ion-segment>

        <!--<ion-buttons end>-->
        <!--<button ion-button icon-only (click)="presentFilter()">-->
        <!--<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-searchbar color="primary"
                       [(ngModel)]="keyword"
                       (ionInput)="search()"
                       placeholder="Search">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="cambio-ion-content">
    <ion-list>

        <ion-item-group *ngFor="let item of result">

            <ion-item-divider sticky>
                <ion-label>
                    {{item._id}}
                </ion-label>
            </ion-item-divider>

            <ion-item-sliding *ngFor="let album of item.albumArray" #slidingItem>
                <button ion-item *ngIf="album.isAlbum == true" (click)="goToSoundList(album, item._id)">
                    <ion-thumbnail item-left>
                        <img src="{{album.picture}}">
                    </ion-thumbnail>
                    <h3><span>[专辑]</span>{{album.name}}</h3>
                    <p>
                        {{album.date}}:
                        {{album.playCount}}:
                        {{album.length}}
                    </p>
                </button>
                <button ion-item *ngIf="album.isAlbum == false" (click)="getSoundTracks(album.soundArray[0], item._id)">
                    <ion-thumbnail item-left>
                        <img src="{{album.soundArray[0].picture}}">
                    </ion-thumbnail>
                    <h3>{{album.soundArray[0].title}}</h3>
                    <p>
                        {{album.soundArray[0].playCount}}
                    </p>
                </button>

                <!--<ion-item-options>-->
                <!--<button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">-->
                <!--Favorite-->
                <!--</button>-->
                <!--<button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">-->
                <!--Remove-->
                <!--</button>-->
                <!--</ion-item-options>-->

            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

    <ion-fab bottom right #fab>
        <button ion-fab>
            <ion-icon name="share"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="vimeo">
                <ion-icon name="logo-vimeo"></ion-icon>
            </button>
            <button ion-fab color="google">
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button ion-fab color="twitter">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab color="facebook">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
