<ion-content [hidden]="!isShow" >
    <div class="cm-header">
        <button ion-button clear icon-only (click)="closeSoundBar()">
            <ion-icon name="arrow-down"></ion-icon>
        </button>
        <div class="cm-title">
            <div>{{soundData.album_title}}</div>
        </div>
    </div>
    <ion-list>
        <cm-audio [src]="soundData['play_path']" #player></cm-audio>
    </ion-list>
</ion-content>

<ion-footer [hidden]="isShow" (click)="openSoundBar()">
    <ion-toolbar>
        <ion-item no-lines>
            <ion-avatar item-left>
                <img src="{{soundData['cover_url_142']}}">
            </ion-avatar>
            <h3 class="text-ellipsis">{{soundData.title}}</h3>
            <p>
                {{soundData.album_title}}&nbsp;·
                {{soundData.nickname}}
            </p>
            <button ion-button clear item-right icon-only (click)="play($event, player)">
                <ion-icon name="play" *ngIf="!isPlay"></ion-icon>
                <ion-icon name="pause" *ngIf="isPlay"></ion-icon>

            </button>
        </ion-item>


    </ion-toolbar>
</ion-footer>
