<ion-header>
    <ion-navbar>
        <ion-title>Sound-List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content cmHasFooter>
    <ion-list>
        <ion-item-sliding *ngFor="let sound of album.soundArray" #slidingItem>
            <button ion-item (click)="getSoundTracks(sound)">
                <ion-thumbnail item-left>
                    <img src="{{sound.picture}}">
                </ion-thumbnail>
                <h3 class="text-ellipsis">
                    <span *ngIf="sound.isPaid && sound.isFree">[试听]</span>
                    <span *ngIf="sound.isPaid && !sound.isFree">[收费]</span>
                    {{sound.title}}
                </h3>
                <p>
                    {{sound.date}}&nbsp;·
                    {{sound.playCount}}次播放
                </p>
            </button>
        </ion-item-sliding>
    </ion-list>
</ion-content>
